extends layout 

block content
    h1= title

    #instructionAndFilterButtonWrapper
        p Click on an item for further information and options.
        button(onclick="window.location.href='./itemlist/filter';") Filter by tag

    ul(id="itemsWrapper")
        each item in itemList
            li(onclick=`window.location.href='${item.url}'`)
                .imageAndOtherWrapper
                    img(src="/images/noImageAvailable.png")
                    .nameAndTagsWrapper
                        h2 #{item.name}
                        .tagNamesWrapper
                            each tag in item.tags
                                -const colorArray = tag.getColor;
                                div(class='tagNameColor' style = tag.getColorBackgroundStyleString) #{tag.name}
                            
block specificStyle
    link(rel='stylesheet', href='/stylesheets/item/itemList.css')
    link(rel='stylesheet', href='/stylesheets/tag/tagNameColorClassStyle.css')        