extends layout 

block content
    h1= title

    form(method='POST' action='')
        .formGroup
            label(for = 'name') Enter name:
            input(type = 'text' id = 'name' name='name' required=true value=(tag ? tag.name : ""))
        .formGroup 
            label(for = 'description') Optionally enter description:
            textarea(type = 'text' id='description' name='description' ) #{tag ? tag.description : ""}
        input(type="submit")
                    
block specificStyle
    link(rel='stylesheet', href='/stylesheets/tag/tagForm.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')