extends layout 

block content
    h1= title

    p Click on a tag for further information and options.
    table
        tr
            th Name
            th Description
        each tag in tagList
            tr(onclick=`window.location.href='${tag.url}'`)
                td 
                    - const colorArray = tag.getColor;
                    div(class='tagNameColor' style ='background-color: rgb(' + colorArray[0] + ", " + colorArray[1] + ", " + colorArray[2] + ');') #{tag.name}
                if tag.description
                    td #{tag.description}
                else
                    td No description available.
                    
block specificStyle
    link(rel='stylesheet', href='/stylesheets/tag/tagList.css')
    link(rel='stylesheet', href='/stylesheets/tag/tagNameColorClassStyle.css')