extends layout 

block content
    h1= title

    #instructionAndButtonWrapper
        p Click on a tag for further information and options.
        button(onclick="window.location.href='./tag/add';") Add a tag
    table
        tr
            th Name
            th Description
        each tag in tagList
            tr(onclick=`window.location.href='${tag.url}'`)
                td 
                    div(class='tagNameColor' style= tag.getColorBackgroundStyleString) #{tag.name}
                if tag.description
                    td #{tag.description}
                else
                    td No description available.
                    
block specificStyle
    link(rel='stylesheet', href='/stylesheets/tag/tagList.css')
    link(rel='stylesheet', href='/stylesheets/tag/tagNameColorClassStyle.css')