body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(210, 238, 255);
  margin: 0;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

#contentWrapper {
  background-color: white;
  padding: 20px;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
}