#tagsCheckboxInput {
    display: flex;
    flex-wrap: wrap;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagNameColor {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}