
#instructionAndButtonsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttons button {
    margin-left: 1em;
}

#instructionAndButtonsWrapper button {
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
}

#itemsWrapper {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

img {
    margin-right: 20px;
    max-width: 30vw;
    max-height: 20vh;

    
    align-self: center;
}



.imageAndOtherWrapper {
    display: flex;
    position: relative;
}

#itemsWrapper > * {
    padding: 10px;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

#itemsWrapper > * {
    border-bottom: 2px solid grey;
}

#itemsWrapper > :nth-child(1) {
    border-top: 2px solid grey;
}

li:hover {
    background-color:rgb(210, 238, 255);
    cursor: pointer;
}

.nameAndPriceAndTagsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameAndPriceWrapper {
    display: flex;
    flex-direction: column;
}

.nameAndPriceWrapper > :nth-child(1){
    margin-bottom: 0;
}

.nameAndPriceWrapper > :nth-child(1){
    margin-bottom: 0;
}


.tagNamesWrapper {
    display: flex;
    flex-wrap: wrap;
}

.tagNamesWrapper > * {
    margin-right: 10px;
}